img{
    height: 20;
    width: 20;
}
 body {
    padding-bottom: 1000px;
     padding-left:00px;
    padding-right: 00px; 
    } 
    .navbar {
        min-height: 95px;
    }
    /* .navbar-custom { 
        background-color:#F5FFFA; 
    }  
       */
  
    /* .navbar-custom .navbar-text { 
        color: red; 
    }  */