.bg-img{
    background-image: url("src/assets/images/cartbg.jpg");
    align-self: right;
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
    .navbar {
        min-height: 95px;
      }
     

     