<section class="cover text-center">
  <nav class="navbar navbar-expand-sm  bg-transparent">
    <a class="navbar-brand" href="#"><strong>EMART</strong></a>
     <button class="navbar-toggler" type="button" data-toggler="expand" data-target="#collapsibleNavbar">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="collapsibleNavbar">
       <ol class="navbar-nav">
         <!-- <li class="nav-item">
           <a class="nav-link" routerLink="login" >LOGIN</a>
         </li> -->
         <div class="dropdown">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">USER
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="buyer">BUYER</a>
            <a class="dropdown-item" href="seller">SELLER</a>
          </div>
        </div>
       </ol>
     </div>
   </nav>
   <router-outlet></router-outlet>
</section>
