<html>
 
    <head>
    <meta charset="utf-8">
     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    </head>
     
    <body>
     
    <div class="container-fluid">
     
    <nav class="navbar  navbar-light bg-light  fixed-top">
     
        <a class="navbar-brand"><img src="assets\images\icon.png" width="100" height="100"></a>
     
        <button type="button" class="navbar-toggler navbar-toggler-right bg-light" data-toggle="collapse" data-target="#nav">
     
            <span class="navbar-toggler-icon my-toggler"></span>
     
        </button>
     
    <div class="collapse navbar-collapse justify-content-between" id="nav">
     
        <ul class="navbar-nav">
     
            <li class="nav-item" >
     
                 <a class="nav-link text-dark font-weight-bold px-3" href="#">HOME</a>
     
            </li>
     
            <!-- <li class="nav-item dropdown" data-toggle="dropdown">
     
                <a class="nav-link text-dark font-weight-bold px-3 dropdown-toggle" href="#">PRODUCTS</a>
    
     
                <div class="dropdown-menu">
              
     
                    <a  href="fashion">Fashion</a>
        
                    <a  href="#">Electronics</a>
                     <!-- <div class="dropdown-menu"> 
                      <a class="dropdown-item" href="#">Mens Fashion</a>
                      <a class="dropdown-item" href="#">Womens Fashion</a>
                      <a class="dropdown-item" href="#">Kids Fashion</a>
                     </div> 
                  </li>  -->
               
     
                   
     
                    <!-- <a  href="#">Furniture</a>
     
                </div> -->
     
             <!-- </li> -->
              <li class="nav-item">
     
                <a class="nav-link text-dark font-weight-bold px-3" href="ap">ADD ITEM</a>
     
            </li>
          
         
          <li class="nav-item">
     
            <a class="nav-link text-dark font-weight-bold px-3" href="spay">PAYMENT DETAILS</a>
 
          </li>
          <li class="nav-item">
     
            <a class="nav-link text-dark font-weight-bold px-3" href="">LOGOUT</a>
 
          </li>
        
         
     
     </ul>
    </div>
    <!-- Search bar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline ml-auto">
          <div class="md-form my-0">
            <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          </div>
          <button href="#!" class="btn btn-light btn-md my-0 ml-sm-2" type="submit">Search</button>
        </form>
    
    
     
    </div>
    </nav>
    <div class="bg-img">
      <div class="Absolute-Center is-Responsive">
        
<div class="Absolute-Center is-Responsive">
  <form class="justify-content-center" (ngSubmit)="save()">
      <fieldset>
      
      <!-- Form Name -->
      <legend>PRODUCTS</legend>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="product_id">PRODUCT ID</label>  
        <div class="col-md-4">
        <input id="product_id" name="product_id" placeholder="PRODUCT ID" class="form-control input-md" required="" type="text" [(ngModel)]="ap.id">
          
        </div>
      </div>
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>  
        <div class="col-md-4">
        <input id="product_name" name="product_name" placeholder="PRODUCT NAME" class="form-control input-md" required="" type="text" [(ngModel)]="ap.name">
          
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="product_name">PRODUCT CATEGORY</label>  
        <div class="col-md-4">
        <input id="product_categorie" name="product_categorie" placeholder="" class="form-control input-md" required="" type="text" [(ngModel)]="ap.category">
          
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="available_quantity">CATEGORY ID</label>  
        <div class="col-md-4">
        <input id="cid" name="categoryid"  class="form-control input-md" required="" type="text" [(ngModel)]="ap.categoryid">
          
        </div>
      </div>
      
      
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="available_quantity">AVAILABLE QUANTITY</label>  
        <div class="col-md-4">
        <input id="available_quantity" name="available_quantity" placeholder="AVAILABLE QUANTITY" class="form-control input-md" required="" type="text">
          
        </div>
      </div>
      
      
      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
        <div class="col-md-4">                     
          <textarea class="form-control" id="product_description" name="product_description"></textarea>
        </div>
      </div>
      
     
      
      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="percentage_discount">PERCENTAGE DISCOUNT</label>  
        <div class="col-md-4">
        <input id="percentage_discount" name="percentage_discount" placeholder="PERCENTAGE DISCOUNT" class="form-control input-md" required="" type="text" [(ngModel)]="ap.discount">
          
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="percentage_discount">PRICE</label>  
        <div class="col-md-4">
        <input id="percentage_discount" name="percentage_discount" placeholder="PERCENTAGE DISCOUNT" class="form-control input-md" required="" type="text" [(ngModel)]="ap.price">
          
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="percentage_discount">STOCK</label>  
        <div class="col-md-4">
        <input id="percentage_discount" name="percentage_discount" placeholder="PERCENTAGE DISCOUNT" class="form-control input-md" required="" type="text" [(ngModel)]="ap.stock">
          
        </div>
      </div>
      
      
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="filebutton">main_image</label>
        <div class="col-md-4">
          <input id="filebutton" name="filebutton" class="input-file" type="file">
        </div>
      </div>
      
      
      
      
      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4">
          <button id="singlebutton" name="singlebutton" class="btn btn-primary">ADD</button>
        </div>
        </div>
        
        <!-- </fieldset>
        </form> -->
        <!-- </div></div> -->