.bg-img{
    background-image: url("src/assets/images/pays2.jpg");
    align-self: right;
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }
    .navbar {
      min-height: 95px;
    }
    